@tailwind base;
@tailwind components;
@tailwind utilities;

//Material Icons
// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap");
@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Round:opsz,wght,FILL,GRAD@20,100,1,200);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,200,1,0);

@mixin color {
    --color-light: #fff --color-blue: #0066f6;
    --color-red: #cb1313;
}

:root {
    @include color;
}

@import "./helper/responsive";
@import "./helper/basic.scss";
@import "./helper/color";

@layer base {
    //設定屬於在哪個 bucket
    p,
    h3 {
        @apply dark:text-white;
    }
}
@layer components {
}
@layer utilities {
}

@import "./animation";
@import "./component";
@import "./antd";
